<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="GrowKids Test Suite">

    <test name="Register Test">
        <classes>
            <class name="com.growkids.tests.RegisterTest"/>
        </classes>
    </test>

    <test name="Login Test">
        <classes>
            <class name="com.growkids.tests.LoginTest"/>
        </classes>
    </test>

</suite>